/* Tổng quát */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin: 10px 0 20px 0;
}

h3,
h4 {
  margin: 0;
}


.topbar {
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

.topbar h2 {
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile button {
  display: none;
}

.profile button {
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #007bff;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#need-admin {
  margin: 60px auto;
}

/* ////////////////////////// */

.logindb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 0;
  display: none;
}

.logindb h1 {
  text-align: center;
  margin: 0;
}

.logindb form {
  padding: 0 20px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.2s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.2s;
}

/* ///////////////////////// */

.view-container,
.edit-container {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  display: none;
}

.view-container {
  margin-top: 80px;
}

/* Tiêu đề và bảng */
#hbody {
  margin-bottom: 20px;
}

#hbody {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#hbody td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 0px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.editor-container {
  max-width: 800px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.editor-container button {
  transition: background-color 0.3s;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.editor-container button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.toolbar {
  background: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  align-items: center;
}

.toolbar .color {
  background: #444;
  color: #fff;
  border-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.toolbar .color span {
  font-size: 14px;
}

.toolbar .color input {
  padding: 0;
  width: 26px;
  height: 25px;
  cursor: pointer;
}

.toolbar button,
.toolbar select {
  background: #444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.toolbar button.active {
  background: #007bff;
}

.toolbar button:hover,
.toolbar select:hover {
  background: #f0f0f0;
  color: #000;
}

.toolbar select {
  padding: 5px;
}

.toolbar span {
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
}

.content {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  min-height: 400px;
  background: #fafafa;
  overflow-y: auto;
}

.content[contenteditable="true"] {
  outline: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f0f0f0;
}

.actions button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

#show-code[data-active="true"] {
  background: red;
}

.actions button.disabled {
  background: #ccc;
  cursor: not-allowed;
}

.list-img {
  height: 200px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  input[type="text"],
  textarea {
    width: calc(100% - 20px);
  }
}

/* Toàn bộ body sẽ chứa hiệu ứng */
body.blur .blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Lớp phủ tối */
  backdrop-filter: blur(5px);
  /* Hiệu ứng mờ */
  z-index: 5;
  /* Dưới wrapper */
}

/* Popup xuất hiện phía trên */
.wrapper {
  width: min(90%, 800px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: white;
  padding: 40px;
  border-radius: 0.5em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.hide {
  display: none;
  /* Ẩn popup */
}

.wrapper.show {
  display: block;
  /* Hiển thị popup */
}

.container .image-container {
  width: 100%;
}

input[type="file"] {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.btns button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  border: 2px solid #025bee;
  background-color: #ffffff;
  color: #025bee;
}

.btns button:hover {
  background-color: #025bee;
  color: #fff;
}

.hide {
  display: none;
}