@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #003366;
  margin: 10px 0;
}

h2 {
  color: #003366;
  font-size: 28px;
  margin-bottom: 10px;
  margin: 5px 0;
}

h4 {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

small {
  font-size: 12px;
  color: #777;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

body::-webkit-scrollbar:horizontal {
  display: none;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.topic-container::-webkit-scrollbar {
  display: none;
  width: 5px;
  background-color: #f0f0f0;
}

.topic-container::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.topic-container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* style main content ////////////////////////////////////////////////*/

main {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 10px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
  grid-template-areas:
    "main list"
    "more more"
  ;
}

.posts-content-section {
  grid-area: main;
  margin: 0;
  min-width: 300px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}

.list-main-section {
  grid-area: list;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topic-section {
  grid-area: more;
  border-top: 2px solid #ddd;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 20px;
}

/* /////////////////////////// */

.error {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1020px;
  min-height: 70vh;
}

.error-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-task {
  margin: 20px 0;
}

.error-task ol {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}

.error-task ol li {
  margin: 20px 0;
}

.error-task a {
  color: #003366;
}

.error-task button {
  background: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error-task button:hover {
  background: #2980b9;
}


/* style posts-content-section //////////////////////*/

.posts-title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.posts-img {
  position: relative;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  overflow: hidden;
}

.posts-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /////////////////////////////////////// */

.cover-title {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1f8bc9;
}

.cover-title h2 {
  background-color: #003366;
  color: white;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0;
}

.cover-left-title {
  width: 30px;
  height: 40px;
  margin-left: -10px;
  background-color: #003366;
  clip-path: polygon(0% 0%, 46% 0, 100% 50%, 46% 100%, 0% 100%);
}

/* style list-main-section ///////////////////*/

.list-main-section h2 {
  z-index: 10;
  margin: 0;
}

.topic-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 60vh;
  overflow: auto;
}

.topic-item {
  border-bottom: 1px solid #ddd;
}

.topic-item:last-child {
  border-bottom: 0;
}

.topic-item h3 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.topic-item h3 a {
  color: #fff;
  background-color: red;
  padding: 5px 10px;
  width: auto;
  border-radius: 4px;
}

.news-item {
  aspect-ratio: 31 / 10;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.news-item:last-child {
  margin: 10px 0;
}

.list-news-img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  box-sizing: border-box;
}

.list-news-img img {
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 4px;
}

.list-news-text {
  flex: 1;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  box-sizing: border-box;
}

.list-news-text h4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  overflow: hidden;
  font-size: 15px;
  color: #003366;
  margin: 0;
  box-sizing: border-box;
}

.list-news-text small {
  display: block;
  margin-top: 2px;
}

/* ///////////////////////////////////////// */

.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 15px;
}

.section-text {
  padding: 0 5px;
}

.section-text h4 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 16px;
  margin: 0;
  color: #003366;
  font-weight: 600;
  max-height: 80px;
  overflow: hidden;
}

.section-text small {
  font-size: 12px;
  color: #888;
}

.section-img {
  position: relative;
  display: inline-block;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.section-img img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 3;
  display: block;
  border-radius: 4px;
}

.section-img h4 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  background-color: red;
}

/* Responsive */
@media (max-width: 620px) {

  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "more"
      "list"
    ;
  }

  #post-section {
    border: none;
    padding: 0;
  }

  /* ///////////////////////////// */

  .topic-container {
    height: fit-content;
  }

  .list-news-text h4 {
    font-size: 16px;
  }

  .news-item {
    height: 120px;
    aspect-ratio: auto;
  }

  .list-news-img {
    flex: none;
    height: 120px;
    aspect-ratio: 4 / 3;
  }

  .list-news-img img {
    height: 120px;
    aspect-ratio: 4 / 3;
  }

  .topic-item {
    flex: 1 1 calc(100%);
    box-sizing: border-box;
  }

  .foot-content {
    padding-top: 20px;
  }

  .posts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .posts-list a {
    min-width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .section-img {
    aspect-ratio: 3 / 2;
  }

  .section-img img {
    aspect-ratio: 3 / 2;
  }

  .section-text h4 {
    font-size: 24px;
  }

}